@charset "utf-8";
/* CSS Document */

@import "global.css";
#boxmain {
	background:url(../../../images/britain/nav_bg.jpg) repeat-x;
	position:relative;
}
#boxmain_kage {
	background:url(../../../images/britain/nav_kage.png) repeat-x;
	height:4px;
	width:100%;
	position:absolute;
	top:148px;
	left:0;
	z-index:1000;
}
#contentmain {
	width:1000px;
	height:148px;
	margin:0 auto;
}
#contenttop {
	width:1000px;
	height:120px;
	margin:0 auto;
}
.head {
	height:120px;
}
.logo {
	width:215px;
	height:120px;
	clear:both;
	float:left;
}
.logo a {
	display:block;
	width:133px;
	height:80px;
	margin-left:20px;
	margin-top:20px;
	float:left;
	background:url(../../../images/bcn/logo_wf.jpg)
}
.sinawb2 {
	float: right;
	width: 100px;
	margin-top: 43px;
	height: 24px;
	line-height: 24px;
}
.sinawb2 a {
	color: #1582bd;
	line-height: 24px;
	text-decoration: none;
	font-weight: bold;
}
.sinawb {
	float: right;
	width: 70px;
	margin-top: 43px;
	height: 24px;
}
.nav {
	height:45px;
	width:850px;
	position:relative;
}
.nav_pop {
	position:absolute;
	left:295px;
	top:-45px;
	width:282px;
	height:45px;
}
.nav li {
	float:left;
	height:45px;
	width:70px;
	margin:0 40px;
}
.nav li a {
	display:block;
	height:45px;
}
.nav li a:hover {
	background-position:bottom;
}
.nav li a.current {
	background-position:bottom;
}
.nav li.home {
	margin:0 15px;
}
.nav li.event { width:157px; margin:0 20px;}
#content {
	width:1000px;
	margin:0 auto;
	padding:25px 0;
}
#TB_overlay {
	display:none;
	position: fixed;
	z-index:1000;
	top: 0px;
	left: 0px;
	background-color:#000;
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.8;
	height:100%;
	width:100%;
}
#TB_window {
	position: fixed;
	background: #999;
	z-index: 1002;
	color:#000000;
	display:none;
	text-align:left;
	top:50%;
	left:50%;
}
.loading {
	display: none;
	margin-bottom: 15px;
	padding: 15px 0;
	text-align: center;
	font-weight: 700;
	border: double rgba(34,25,25,.14);
	border-width: 3px 0 0 0;
}
.back-to{
	right: 5px;
	bottom: 188px;
	overflow: hidden;
	position: fixed;
	z-index: 999;
}
.back-top{
	color: #1e1e1e;
	outline: none;
	text-decoration: underline;
}


#box {
	margin:0px auto;
	background:url(../../../images/bcn/wf_topbg.jpg) top center;
}
.content {
	width:972px;
	margin:0 auto;
	padding:0;
	height:295px;
}
.clear {
	clear:both
}
