@charset "utf-8";
/* CSS Document */

@import "layout.css";
body {
	background:url(../../../images/bcn/pattern.jpg) repeat;
}
.sub_nav {
	height:38px;
	border-top:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
	border-left:3px solid #b00d23;
	background:#fff;
	float:left;
	width:674px;
	margin-left:12px;
}
.sub_nav ul.newhot {
	width:150px;
	margin-left:20px;
	border-right:1px solid #d7d7d7;
	float:left;
	height:38px;
}
.sub_nav ul.newhot li {
	float:left;
	line-height:23px;
	background-repeat:no-repeat;
	padding-left:28px;
	margin-right:15px;
	margin-top:8px;
}
.sub_nav ul.newhot .new{
	background-position:left top;
}
.sub_nav ul.newhot .hot{
	background-position:left bottom;
}
.sub_nav ul.newhot li a {
	font-size:13px;
	font-family:"微软雅黑";
	text-decoration:none;
}
.sub_nav ul.newhot li a.current {
	color:#b00d23;
}
.sub_nav_city {
	float:left;
	height:38px;
	line-height:38px;
}
.sub_nav_city ul {
	margin-left:28px;
	width:400px;
	float:left;
}
.sub_nav_city ul li {
	float:left;
	line-height:38px;
	background-repeat:no-repeat;
	background-position:left center;
	margin-right:28px;
}
.sub_nav_city ul li a {
	font-size:13px;
	font-family:"微软雅黑";
	text-decoration:none;
}
.sub_nav_city ul li a.current {
	color:#b00d23;
}
.sub_nav_btn {
	float:right;
	width:303px;
	margin-right:8px;
}
.main {
	margin-top:22px;
	padding-left:4px;
}
.main ul li {
	width:230px;
	float:left;
	margin:0 8px;	
	padding-bottom:10px;
}
.box_weibo{
	position:relative;
	z-index:1;
	background:#fff;
	border:1px solid #ccc;
	padding-bottom:10px;
	background:#fff;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow:hidden;
	-moz-box-shadow: 0px 1px 1px #e2e2e2;
	-webkit-box-shadow: 0px 1px 1px #e2e2e2;
	box-shadow: 0px 1px 1px #e2e2e2;
	margin-bottom:33px;
}
.box_pic { position:relative;z-index:1;}
.box_pic:hover .box_zoom { display:block;}
.box_zoom { position:absolute; left:158px; display:none; z-index:100;}


.box_test {
	background:url(../../../images/britain/box_bg.jpg) no-repeat left bottom #e5e5e5;
	padding:12px;
	padding-bottom:22px;
	line-height:20px;
}
.box_test a {
	line-height:20px;
	text-decoration:none;
}
.user_fb {
	padding:8px 15px 15px 15px;
	margin-bottom:8px;
	height:40px;
	border-bottom:1px solid #ededed;
}
.no_bottom{
	border-bottom:none;
}
.user_fb img {
	float:left;
	width:40px;
	height:40px;
}
.user_fb a {
	color:#d2833d;
	text-decoration:none;
}
.user_fb a:hover {
	color:#d2833d;
	text-decoration:underline;
}
.user_fb_id {
	display:block;
	margin-left:50px;
}
.user_fb_source {
	display:block;
	margin-left:50px;
}
.user_zf {
	padding:8px 15px 8px 15px;
	min-height:40px;
}
.user_zf a {
	color:#d2833d;
	text-decoration:none;
}
.user_zf a:hover {
	color:#d2833d;
	text-decoration:underline;
}
.user_zf img {
	float:left;
	width:40px;
	height:40px;
}
.user_zf_id {
	display:block;
	margin-left:50px;
	line-height:16px;
}

.rule_box { width:710px; background:#fff; margin:0 auto; padding:0 70px 30px 70px; position:relative;}
.box_close { position:absolute; left:860px;}
.box_title { font-size:30px; line-height:30px; height:30px; font-family:"微软雅黑"; color:#1e1c5e; padding:30px 0; text-align:center;}
.rule_box ul li { color:#1e1c5e; line-height:22px; font-family:"微软雅黑"; font-size:14px; background-repeat:no-repeat; padding-left:30px; margin-bottom:20px;}
.t_red { color:#a90c22;}
.t_grey { color:#c5c5ce; font-size:12px;}

.jion_box { width:850px; background:#fff; margin:0 auto;  position:relative;}
.jion_box_text { color:#1e1c5e; line-height:22px; font-family:"微软雅黑"; font-size:14px; background-repeat:no-repeat; padding-left:30px; padding-bottom:30px;text-align:center;}
.jion_box_title {height:15px; line-height:15px; border-left:2px solid #a90c22; padding-left:10px;}
.jion_info { background:#f5f5f5; height:170px; border-bottom:1px solid #e4e4e4; padding:25px 70px;font-family:"微软雅黑"; color:#585858;}
.jion_info ul { margin-top:15px;height:90px;}
.jion_info ul li { height:40px; float:left; width:350px;}
.jion_info .title { width:65px; height:40px; line-height:32px; text-align:right; padding-right:8px; float:left;font-family:"微软雅黑";}
.inputbox { height:28px; line-height:28px; border:1px solid #ededed; width:250px}

.photo_box { width:850px; margin:0 auto; background:#fff; position:relative;}
.photo { width:750px; text-align:center; padding:30px 50px 20px 50px}

.more_user_fb {
	padding:8px 50px 15px 50px;
	margin-bottom:8px;
	height:90px;
	border-bottom:1px solid #ededed;
}
.more_user_fb img {
	margin-bottom:10px;
}
.more_user_fb a {
	color:#d2833d;
	text-decoration:none;
}
.more_user_fb a:hover {
	color:#d2833d;
	text-decoration:underline;
}
.more_user_fb_id {
	display:block;
	margin-left:100px;
}
.more_user_zf {
	padding:8px 50px 15px 50px;
	min-height:60px;
}
.more_user_zf a {
	color:#d2833d;
	text-decoration:none;
}
.more_user_zf a:hover {
	color:#d2833d;
	text-decoration:underline;
}
.more_user_zf img {
	float:left;
	width:60px;
	height:60px;
}
.more_user_zf_id {
	display:block;
	margin-left:100px;
	line-height:16px;
}
.more_more { height:65px; text-align:center; border-top:1px solid #ededed; margin-top:8px;}
.more_more a {line-height:65px; color:#dd8c19; text-decoration:none;}