/* --------------------------------------------------------------

   ie.css
   * fix bug with ie

-------------------------------------------------------------- */
body {
	text-align: center;
}
.container {
	text-align: left;
}
/* add 100621 修补IE下所有居中的标签，使其恢复左对齐 */
 
 /*--------------------------------------------------------------
	fix bug in screen/layout.css
 ---------------------------------------------------------------*/
#header .nav_main li.ext {
}


 
 
 
 /*--------------------------------------------------------------
	fix bug in screen/forms.css
 ---------------------------------------------------------------*/
input.btn_pink {
	border:0px;
}
input.btn_blue {
	border:0px;
}
input.search {
	width:137px;
}
/*--------------------------------------------------------------
	fix bug in widget/tabs.css
 ---------------------------------------------------------------*/

.tabs_white ul li {
	display:inline
}

